<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jspbb.core.mapper.AnswerExtMapper">
    <resultMap id="BaseResultMap" type="com.jspbb.core.domain.AnswerExt">
        <id column="id_" jdbcType="BIGINT" property="id"/>
        <result column="markdown_" jdbcType="CLOB" property="markdown"/>
        <result column="text_" jdbcType="CLOB" property="text"/>
        <result column="sensitive_words_" jdbcType="VARCHAR" property="sensitiveWords"/>
        <result column="ip_" jdbcType="VARCHAR" property="ip"/>
        <result column="ip_country_" jdbcType="VARCHAR" property="ipCountry"/>
        <result column="ip_province_" jdbcType="VARCHAR" property="ipProvince"/>
        <result column="ip_city_" jdbcType="VARCHAR" property="ipCity"/>
        <result column="edit_count_" jdbcType="INTEGER" property="editCount"/>
    </resultMap>
    <sql id="Base_Column_List">
        id_, markdown_, text_, sensitive_words_, ip_, ip_country_, ip_province_, ip_city_, edit_count_
    </sql>
    <select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jspbb_answer_ext
        where id_ = #{id,jdbcType=BIGINT}
    </select>
    <delete id="delete" parameterType="java.lang.Long">
        delete
        from jspbb_answer_ext
        where id_ = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.jspbb.core.domain.AnswerExt">
        insert into jspbb_answer_ext (<include refid="Base_Column_List"/>)
        values (#{id,jdbcType=BIGINT}, #{markdown,jdbcType=CLOB}, #{text,jdbcType=CLOB},#{sensitiveWords,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},
        #{ipCountry,jdbcType=VARCHAR},#{ipProvince,jdbcType=VARCHAR}, #{ipCity,jdbcType=VARCHAR}, #{editCount,jdbcType=INTEGER} )
    </insert>
    <update id="update" parameterType="com.jspbb.core.domain.AnswerExt">
        update jspbb_answer_ext
        set markdown_        = #{markdown,jdbcType=CLOB},
            text_            = #{text,jdbcType=CLOB},
            sensitive_words_ = #{sensitiveWords,jdbcType=VARCHAR},
            ip_              = #{ip,jdbcType=VARCHAR},
            ip_country_      = #{ipCountry,jdbcType=VARCHAR},
            ip_province_     = #{ipProvince,jdbcType=VARCHAR},
            ip_city_         = #{ipCity,jdbcType=VARCHAR},
            edit_count_      = #{editCount,jdbcType=INTEGER}
        where id_ = #{id,jdbcType=BIGINT}
    </update>
</mapper>