<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jspbb.core.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.jspbb.core.domain.Comment">
        <id column="id_" jdbcType="BIGINT" property="id"/>
        <result column="parent_id_" jdbcType="BIGINT" property="parentId"/>
        <result column="user_id_" jdbcType="BIGINT" property="userId"/>
        <result column="edit_user_id_" jdbcType="BIGINT" property="editUserId"/>
        <result column="ref_type_" jdbcType="VARCHAR" property="refType"/>
        <result column="ref_id_" jdbcType="BIGINT" property="refId"/>
        <result column="created_" jdbcType="TIMESTAMP" property="created"/>
        <result column="edit_date_" jdbcType="TIMESTAMP" property="editDate"/>
        <result column="markdown_" jdbcType="CLOB" property="markdown"/>
        <result column="text_" jdbcType="CLOB" property="text"/>
        <result column="sensitive_words_" jdbcType="VARCHAR" property="sensitiveWords"/>
        <result column="status_" jdbcType="INTEGER" property="status"/>
        <result column="ip_" jdbcType="VARCHAR" property="ip"/>
        <result column="ip_country_" jdbcType="VARCHAR" property="ipCountry"/>
        <result column="ip_province_" jdbcType="VARCHAR" property="ipProvince"/>
        <result column="ip_city_" jdbcType="VARCHAR" property="ipCity"/>
        <association property="user" javaType="com.jspbb.core.domain.User" column="user_id_" select="com.jspbb.core.mapper.UserMapper.select"/>
        <association property="editUser" javaType="com.jspbb.core.domain.User" column="edit_user_id_" select="com.jspbb.core.mapper.UserMapper.select"/>
    </resultMap>
    <sql id="Base_Column_List">
        id_, parent_id_, user_id_, edit_user_id_, ref_type_, ref_id_, created_, edit_date_, markdown_, text_, sensitive_words_, status_, ip_, ip_country_, ip_province_, ip_city_
    </sql>
    <select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jspbb_comment
        where id_ = #{id,jdbcType=BIGINT}
    </select>
    <delete id="delete" parameterType="java.lang.Long">
        delete
        from jspbb_comment
        where id_ = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.jspbb.core.domain.Comment">
        insert into jspbb_comment (<include refid="Base_Column_List"/>)
        values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{editUserId,jdbcType=BIGINT}, #{refType,jdbcType=VARCHAR}, #{refId,jdbcType=BIGINT},
        #{created,jdbcType=TIMESTAMP}, #{editDate,jdbcType=TIMESTAMP}, #{markdown,jdbcType=CLOB}, #{text,jdbcType=CLOB},#{sensitiveWords,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{ipCountry,jdbcType=VARCHAR}, #{ipProvince,jdbcType=VARCHAR}, #{ipCity,jdbcType=VARCHAR})
    </insert>
    <update id="update" parameterType="com.jspbb.core.domain.Comment">
        update jspbb_comment
        set parent_id_       = #{parentId,jdbcType=BIGINT},
            user_id_         = #{userId,jdbcType=BIGINT},
            edit_user_id_    = #{editUserId,jdbcType=BIGINT},
            ref_type_        = #{refType,jdbcType=VARCHAR},
            ref_id_          = #{refId,jdbcType=BIGINT},
            created_         = #{created,jdbcType=TIMESTAMP},
            edit_date_       = #{editDate,jdbcType=TIMESTAMP},
            markdown_        = #{markdown,jdbcType=CLOB},
            text_            = #{text,jdbcType=CLOB},
            sensitive_words_ = #{sensitiveWords,jdbcType=VARCHAR},
            status_          = #{status,jdbcType=INTEGER},
            ip_              = #{ip,jdbcType=VARCHAR},
            ip_country_      = #{ipCountry,jdbcType=VARCHAR},
            ip_province_     = #{ipProvince,jdbcType=VARCHAR},
            ip_city_         = #{ipCity,jdbcType=VARCHAR}
        where id_ = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        <include refid="com.jspbb.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="jspbb_comment"/>
        </include>
    </select>

    <update id="updateParentId">
        update jspbb_comment
        set parent_id_ = #{parentId,jdbcType=BIGINT}
        where parent_id_ = #{origParentId,jdbcType=BIGINT}
    </update>
</mapper>