<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jspbb.core.mapper.UserRestrictMapper">
    <resultMap id="BaseResultMap" type="com.jspbb.core.domain.UserRestrict">
        <id column="user_id_" jdbcType="BIGINT" property="userId"/>
        <id column="name_" jdbcType="VARCHAR" property="name"/>
        <result column="count_" jdbcType="BIGINT" property="count"/>
        <result column="start_" jdbcType="TIMESTAMP" property="start"/>
        <result column="last_" jdbcType="TIMESTAMP" property="last"/>
    </resultMap>
    <sql id="Base_Column_List">
        user_id_, name_, count_, start_, last_
    </sql>
    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jspbb_user_restrict
        where user_id_ = #{userId,jdbcType=BIGINT} and name_ = #{name,jdbcType=VARCHAR}
    </select>
    <delete id="delete">
        delete from jspbb_user_restrict
        where user_id_ = #{userId,jdbcType=BIGINT} and name_ = #{name,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jspbb.core.domain.UserRestrict">
        insert into jspbb_user_restrict (<include refid="Base_Column_List"/>)
        values (#{userId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{count,jdbcType=BIGINT},
        #{start,jdbcType=TIMESTAMP}, #{last,jdbcType=TIMESTAMP})
    </insert>
    <update id="update" parameterType="com.jspbb.core.domain.UserRestrict">
        update jspbb_user_restrict
        set count_ = #{count,jdbcType=BIGINT}, start_ = #{start,jdbcType=TIMESTAMP}, last_ = #{last,jdbcType=TIMESTAMP}
        where user_id_ = #{userId,jdbcType=BIGINT} and name_ = #{name,jdbcType=VARCHAR}
    </update>
    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM jspbb_user_restrict
        WHERE user_id_ = #{userId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByUserId">
        delete from jspbb_user_restrict
        where user_id_ = #{userId,jdbcType=BIGINT}
    </delete>
</mapper>